{{step-flow  stepOne=true stepTwo=true stepThree=true stepFour=true}}
<div local-class="step-container">
    {{step-content isStepOne=false isStepTwo=false isStepThree=false isStepFour=true}}
</div>
{{outlet}}
