@import "../../application/styles.scss";
/**
*
*btn 样式
*/

.btn-default-max {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  background-color: $btn-bgcolor;
}

/**
*
*弹窗样式
*/
.hint-area {
  top: 50%;
  transform: translateY(-50%);
  .btn-default {
    color: #fff;
    background-color: $btn-bgcolor;
  }

}


/**
*
*为generate-sample结果页面设置wrapper样式
*/

.step-content-wrapper-noshadow {
  position: relative;
  margin: 40px auto 0;
  width: 1200px;
  border-radius: 5px;
}
/**
*
*基本wrapper样式
*/

.step-content-wrapper {
  position: relative;
  margin: 40px auto 0;
  width: 1200px;
  height: 600px;
  background-color: #fff;
  box-shadow: 2px 2px 4px 4px #eee;
  border-radius: 5px;
}

/**
*
*generate-sample样式
*/

.generate-sample-content {
  margin: 0 auto;
  padding-top: 80px;
  width: 50%;
  p.explain {
    margin: 0;
    font-size: 1.4rem;
  }
  p.file-name {
    margin: 15px 0;
    height: 20px;
    line-height: 20px;
    font-size: 1.8rem;
    letter-spacing: 2px;
    span {
      float: left;
      width: 50%;
      text-align: left;
    }
  }
  .btn-start {
    position: relative;
    margin: 70px auto 0;
    width: 200px;
    height: 200px;
    line-height: 200px;
    border: 1px solid $btn-bgcolor;
    border-radius: 50%;
    font-size: 32px;
    color: #fff;
    cursor: pointer;
    .btn-start-content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 180px;
      height: 180px;
      line-height: 180px;
      border-radius: 50%;
      text-align: center;
      background-color: $btn-bgcolor;
    }
  }
  .calc-progress {
    position: relative;
    margin: 100px auto 0;
    width: 200px;
    height: 200px;
    line-height: 200px;
    border: 5px solid #eee;
    border-radius: 50%;
    text-align: center;
    font-size: 32px;
    color: $btn-bgcolor;
  }
  p.reupload {
    margin-top: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
  }
  p.calc-progress-text {
    margin-top: 0;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
  }
}

.generate-sample-result {
  .result-choosebar {
    height: 80px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 4px #eee;
    background-color: #fff;
    .choosebar-content {
      display: inline-block;
      height: 80px;
      line-height: 80px;
      .select-title {
        font-size: 1.8rem;
        letter-spacing: 2px;
        padding: 0 10px;
      }
      .choose-select {
        width: 160px;
        height: 40px;
        text-align: center;
        text-align-last: center;
        border: 1px solid #eee;
        background-color: #fff;
        option {
          height: 20px;
          text-align: center;
        }
      }
    }
    .choosebar-left {
      float: left;
      margin-left: 20px;
    }
    .choosebar-right {
      float: right;
      margin-right: 40px;
    }
  }
}

// 结果条目样式，未来可能会封装成组件
.result-item {
  margin-bottom: 25px;
  border-radius: 5px;
  box-shadow: 2px 2px 4px 4px #eee;
  background-color: #fff;
  .item-title {
    margin-top: 20px;
    padding: 10px 20px;
    height: 40px;
    line-height: 20px;
    font-size: 1.8rem;
  }
  .item-legend {
    height: 50px;
    .legend-right {
      float: right;
      width: 400px;
      .legend-right-left {
        display: inline-block;
        padding: 0 10px;
        width: 100px;
        height: 50px;
        text-align: center;
        p:first-child {
          margin: 0;
          height: 25px;
          border-radius: 4px;
          font-size: 14px;
          background-color: $btn-bgcolor;
        }
        p:last-child {
          margin: 0;
          height: 25px;
          border-radius: 4px;
          font-size: 14px;
        }
      }
      .legend-right-center {
        display: inline-block;
        padding: 0 10px;
        width: 100px;
        height: 50px;
        text-align: center;
        p:first-child {
          margin: 0;
          height: 25px;
          border-radius: 4px;
          font-size: 14px;
        }
        p:last-child {
          margin: 0;
          height: 25px;
          border-radius: 4px;
          font-size: 14px;
        }
      }
      .legend-right-right {
        display: inline-block;
        padding: 0 10px;
        width: 100x;
        height: 50px;
        .echarts-chart {
          width: 100%;
          height: 300px;
        }

        text-align: center;
        p:first-child {
          margin: 0;
          height: 25px;
          border-radius: 4px;
          font-size: 14px;
        }
        p:last-child {
          margin: 0;
          height: 25px;
          border-radius: 4px;
          font-size: 14px;
        }
      }
    }
  }
  .item-chart {
    height: 360px;
  }
}

/**
*
*end 第二步样式
*/
