<div local-class="wrapper-content">
    <p local-class="content-title">
        <p><span class="glyphicon glyphicon-th"></span>&nbsp;运维中心</p>
    </p>
    <div local-class="content-detail">
        <div local-class="detail-choosebar">
            <div local-class="choosebar-content choosebar-left">
                <span local-class="select-title">搜索</span>
                <input type="text" name="" value="" placeholder="请输入用户名">
            </div>

        </div>

        <div local-class="detail-choosebar tain">
            <div local-class="choosebar-content choosebar-left">
                <span local-class="select-title">恩华（Nhwa）</span>
                <div local-class="tain-act"></div>
            </div>
            <div local-class="tain-tab">
                <p style="left:0;">清洗模块</p>
                {{#link-to "admin.maintain-center.sample"}}<p style="background:#ddd;color:#666;left:25%;">生成样本模块</p>{{/link-to}}
                <p style="background:#ddd;color:#666;left:50%;">放大模块</p>
                <p style="background:#ddd;left:75%;color:#666;">最终输出</p>
                <form>
                    <span>清洗模型：</span>
                    <input type="text" name="" placeholder="nhwa清洗方法"><br><br>
                    <span>匹&nbsp;配&nbsp;表&nbsp;：</span>
                    <input type="text" name="" placeholder="Nhwa_ProductMatchTable_20180502.xlsx">
                    <button type="button" name="button">替换</button>
                </form>
                <div local-class="tain-foot">
                    <button type="button" name="button" local-class="cancel">取消</button>
                    <button type="button" name="button" local-class="save">保存</button>
                </div>
            </div>

        </div>

    </div>
</div>
{{outlet}}
