@import 'bootstrap';

$navbar-bgcolor: #737373;
$content-bgcolor: #fafafa;
$btn-bgcolor: #60b3ad;

$max-font-size-title:  2.2rem;;
$max-font-size-content: 1.4rem;
html {
    height: 100%;
    background-color: $content-bgcolor;
    font-size: 10px;
}
// 弹窗
:global(.modal.in .modal-dialog) {
    top: 50%;
    transform: translateY(-50%);
}
:global(.modal-header) {
    border-radius: 5px 5px 0 0;
    color: #fff;
    background-color: $btn-bgcolor;
}
:global(.modal-content ){
    left: 50%;
    transform: translateX(-50%);
    :global(.btn) {
        padding: 0;
        width: 100px;
        height: 35px;
        line-height: 35px;
        border: 0;
        font-size: 18px;
        color: #fff;
        background-color: $btn-bgcolor;
    }
}

/**
*
*多选样式
*/
.data-checkbox {
    font-weight: normal;
}
input[type="checkbox"] {
    display: none;
}
.checkbox-span {
    display: inline-block;
    margin: 10px ;
    width: 16px;
    height: 16px;
    line-height: 1;
    vertical-align: middle;
    border: 1px solid rgba(0, 0, 0, .15);
    // border-radius: 100%;
    background-color: #fff;
}
input[type="checkbox"]:checked + .checkbox-span:after {
    content: "";
    display: inline-block;
    margin: 1px;
    // border-radius: 100%;
    height: 12px;
    width: 12px;
    background-color: $btn-bgcolor;

}
// .checkbox-span,input[type="checkbox"]:checked + .checkbox-span:after {
//     border-radius: 0;
// }
