<div class="">
    <dl>
        <dt>进度条：</dt>
        <dt>{{circle-progress eid="circle-progress"}}</dt>
    </dl>

    <dl>
        <dt>医院样本数量：</dt>
        <dt>{{sample-hospital-number-line-and-bar eid="sample-hospital-number-line-and-bar"}}</dt>
    </dl>

    <dl>
        <dt>产品样本数量：</dt>
        <dt>{{sample-product-number-line-and-bar eid="sample-product-number-line-and-bar"}}</dt>
    </dl>

    <dl>
        <dt>销售样本数量：</dt>
        <dt>{{sample-sales-number-line-and-bar eid="sample-sales-number-line-and-bar"}}</dt>
    </dl>
</div>
