.dropzone-upload-area {
  padding-top: 30px;
  height: 360px;
  &.active {
    border-color: $btn-bgcolor;
  }
  img {
      width: 70%;
      height: 300px;

  }
}
.click-upload {
    position: relative;
    margin-top: 20px;
    padding-left: 40px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    font-size: 1.6rem;
    border: 1px solid #eee;
    a {
        position: absolute;
        right: 0;
        top: 0;
        display: inline-block;
        width: 80px;
        height: 38px;
        line-height: 38px;
        text-align: center;
        color: #fff;
        background-color: $btn-bgcolor;
        cursor: pointer;
    }
}
