// @media (min-width: 1200px) {
    .self-navbar {
        height: 60px;
        background-color: $navbar-bgcolor;
        color: #fff;
    }
    .self-navbar-title {
        position: relative;
        margin: 0;
        font-size: $max-font-size-title;
    }
    .center {
        display: block;
        margin: 0 auto;
    }
    .bnt-close {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);

        height: 30px;
        width: 30px;

        border-radius: 50%;
        text-align: center;
        background-color: #eee;
        cursor: pointer;
    }
    .hidden {
        display: none;
    }
// }
