{{step-flow  stepOne=true stepTwo=false stepThree=false stepFour=false}}
<div local-class="step-container">
    {{step-content isStepOne=true isStepTwo=false isStepThree=false isStepFour=false}}
</div>
{{outlet}}