/**
*
*btn 样式
*/

.btn-default-max {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  background-color: $btn-bgcolor;
}


/**
*
*view-results样式
*/
/**
*
*为结果页面设置wrapper样式
*/

.step-content-wrapper-noshadow {
  position: relative;
  margin: 40px auto 0;
  width: 1200px;
  background-color: #fff;
  border-radius: 5px;
}

// .view-results-content {
  .result-choosebar {
    margin-bottom: 20px;
    height: 80px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 4px #eee;
    background-color: #fff;
    .choosebar-content {
      display: inline-block;
      height: 80px;
      line-height: 80px;
      .select-title {
        font-size: 1.8rem;
        letter-spacing: 2px;
        padding: 0 10px;
      }
      .choose-select {
        width: 160px;
        height: 40px;
        text-align: center;
        text-align-last: center;
        border: 1px solid #eee;
        background-color: #fff;
        option {
          height: 20px;
          text-align: center;
        }
      }
    }
    .choosebar-left {
      float: left;
      margin-left: 20px;
    }
    .choosebar-right {
      float: right;
      margin-right: 40px;
    }
  }
  .target-item {
      display: inline-block;
      margin-left: 100px;
      width: 265px;

      .item-current, .item-old {
          display: inline-block;
          width: 48%;
      }
      .item-current {
          text-align: left;
          p:first-child {
              font-size: 1.2rem;
          }
          p:last-child {
              span:first-child {
                  font-size: 2.8rem;
              }
              span:last-child {
                  font-size: 1.6rem;
              }
          }
      }
      .item-old {
          padding-left: 50px;
          p:first-child {
              font-size: 1.4rem;
          }
          p:last-child {
              font-size: 1.6rem;
              color: $btn-bgcolor;
          }
      }
  }
  .market-results {
    padding:5px 30px;
    margin-bottom: 25px;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 4px #eee;
    background-color: #fff;
    .market-target {
      border-bottom: 1px solid #eee;
      .small-title {
        font-size: 1.2rem;
      }
      .target-specific {
        .big-text {
          padding-top: 16px;
          padding-left: 0;
          font-size: 27px;
        }
        span {
          font-size: 16px;
        }
        p {
          font-size: 14px;
        }
        .show-state {
            color: $btn-bgcolor;
        }
      }

    }
    .result-title {
      height: 40px;
      line-height: 40px;
      font-size: 1.8rem;
    }
    .china-map-data {
        height: 600px;
        .china-map, .china-data {
            float: left;
        }
        .china-map {
            width: 700px;
        }
        .china-data {
            width: 440px;
        }
    }

  }
// }

/**
*
*end view-results样式
*/
