<div local-class="wrapper-content">
    <p local-class="content-title">
        <p><span class="glyphicon glyphicon-th"></span>&nbsp;运维中心</p>
    </p>
    <div local-class="content-detail">
        <div local-class="detail-choosebar">
            <div local-class="choosebar-content choosebar-left">
                <span local-class="select-title">搜索</span>
                <input type="text" name="" value="" placeholder="请输入用户名">
            </div>

        </div>

        <div local-class="detail-choosebar tain">
            <div local-class="choosebar-content choosebar-left">
                <span local-class="select-title">恩华（Nhwa）</span>
                <div local-class="tain-act"></div>
            </div>
            <div local-class="tain-tab">
                <p style="left:0;">清洗模块</p>
                <p style="background:#ddd;color:#666;left:25%;">生成样本模块</p>
                <p style="background:#ddd;color:#666;left:50%;">放大模块</p>
                <p style="background:#ddd;left:75%;color:#666;">最终输出</p>
                
            </div>

        </div>

    </div>
</div>
{{outlet}}
