{{nav-bar title=title isCenter=true isShow=true}}
{{step-flow  stepOne=stepOne stepTwo=stepTwo stepThree=stepThree stepFour=stepFour}}
<div local-class="step-container">
{{step-content }}
</div>

{{outlet}}
